
/* grid lines */


:host /deep/ ng2-smart-table table > tbody > tr > td {
    text-align: left;
    vertical-align:middle;
    border-bottom: solid 1px rgba(65, 65, 65, 0.1);
}

/* headers grid color*/
:host /deep/ ng2-smart-table thead > tr > th  { 
    text-transform: uppercase;
    text-transform: uppercase;
}  
/*font size*/
:host /deep/ ng2-smart-table {
    font-size:medium;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}